my_mail_address = manager@itnetsys.org
target_mail_dir = /home/manager/Maildir/new/
mov_mail_dir = /root/AutoReply/mov_maildir/
subject =  Auto Reply Mail
body_string1 = ""
body_string2 = ""
body_string3 = ""
body_string4 = ""
body_string5 = ""
body_string6 = ""
body_string7 = ""
body_string8 = ""
body_string9 = ""

